body {
	background-color: #f18a29;
	background-blend-mode: multiply;
	font-family: Palatino, serif;
	color: #4E4E4E;
}

h1 {
	padding: 4%;
	font-family: goudy-old-style,serif;
    font-weight: 400;
    font-size: 80px;
    line-height: .94;
    background-color: black;
    border: 10px solid grey;
}

.bodyParagraphs {
	border: 5px solid rgba(255,255,255,.5);
    padding: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

.paragraph {
	font-size: 20px;
	margin: 5px;
    padding: 10px;
	background-color: #f8f2ed;
	border: 5px solid rgba(0,0,0,.5);
	width: auto;
}

.blurb {
	text-align: center;
}

#submit {
	font-size: 50px;
	font-family: Garamond, serif;
	text-align: center;
	margin-left: 42%;
	font-weight: bold;
	color: #4E4E4E;
	border: 2px solid black;
	background-color: #FFFBF3;
}

#submit:hover {
	background-color: #f18a29;
}

/*Aurelio Adds*/
.Header_Text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Garamond, serif;
	font-size: 50px;
	font-weight: bold;
}

.header {
	position: relative;
	text-align: center;
	color: white;
	padding: 20px;
}